@using ReportViewerForMvc;
@{
    ViewBag.Title = "ReportesProovedor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Reportes X Proveedor</h2>
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

